#/////////////////////////////////////////////////////////////////////////////
# pycharm files
#/////////////////////////////////////////////////////////////////////////////

.idea/

#//////////////////////////
# VS Code
#//////////////////////////

.vscode/